#Mac OS X Finder and whatnot
.DS_Store
.idea

# Sparkle distribution Private Key (Don't check me in!)
dsa_priv.pem


# XCode (and ancestors) per-user config (very noisy, and not relevant)
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
#*.pbxuser
#*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xccheckout
xcuserdata

BuddySDK.xcworkspace/xcuserdata/

#Visual Studio
*.xccheckout
*.suo
*.dll
bin/
obj/

#Binaries
Debug-Lib/
Release-Lib/

bin/
obj/

Samples/PhotoGallery/BuddySDK.framework/
Samples/PhotoGallery/PhotoGallery.xcodeproj/project.xcworkspace/xcuserdata/

Samples/RegisterLogin/BuddySDK.framework/
Samples/RegisterLogin/registerlogin.xcodeproj/project.xcworkspace/xcuserdata/



