#Mac OS X Finder and whatnot
.DS_Store
.idea

# Sparkle distribution Private Key (Don't check me in!)
dsa_priv.pem


# XCode (and ancestors) per-user config (very noisy, and not relevant)
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
#*.pbxuser
#*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xccheckout
xcuserdata

#Visual Studio
*.xccheckout
*.suo
*.dll
bin/
obj/

#Binaries
Debug-Lib/
Release-Lib/

bin/
obj/

Buddy-iOS-SDK/samples/PhotoGallery/BuddySDK.framework/
Buddy-iOS-SDK/samples/RegisterLogin/BuddySDK.framework/

